body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
.first{
	height: 85px;
	background-color:  #dbdbdb;
	margin-bottom: -16px;
}
#header{
	position: relative;
	height: 50px;
	width: 100%;
	background-image: linear-gradient(to right, #fcdf97 , #fee199 );
	border-bottom:#f6a96b solid 5px; 
}
.menu ul{
	list-style: none;
	display: flex;
}
.logo{
	position: absolute;
    right: 0;
    top: -82px;
    height: 165px;
    width: 35%;
    background-size: cover;
}
.logo img{
	height: 110%;
	width: 80%;
}
ul li {
	border-right: #f6a96b solid 1px;
	padding: 15px 20px 15px 20px;
	font-size: 18px
}
ul li>a {
	text-decoration: none;
}
ul li a.active {
	color:red;
}
ul li a.link:link {
	color:#444443;
}
ul li a.link:visted {
	color:red  ;
}  
.body{
	margin-top: 60px;
	display: flex;
}
.left{
	width: 67%;

}
.left-top{
	width: 97%;
	height: 350px;
	background-color: #fbe1be;
	border-radius: 10px;
	padding: 5px 0 0px 5px;
	margin-bottom: 15px;
}
.left-top img{
	width: 90%;
	height: 100%;
	background-size: cover;

}
.left-bottom{
	display: flex;
	width: 100%

}

.title-games{
	position: relative;
	background-image: linear-gradient(to right, #fff3a3 , #fad27b );
	width: 100%;
	height: 40px;
	color: #3b3b5e;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 8px 8px 0px 0px;
	border: #f6a96b solid 1px;
}

.left-bottom-left{
	width: 30%;
}
.title-games img{
	position: absolute;
	margin-top: -18px;
	margin-left: 10%;
}
.title-games p{
	position: absolute;
	text-align: center;
	margin-left: 45%;
	margin-top: 10px;
}
.body-games{
	height: 80%;
	width: 100%;
	border: #f6a96b solid 1px;
	border-radius: 0px 0px 5px 5px;
	background-color: #fffad8;
}
.game {
    display: flex;
}
.game img{
	margin-left: 10px;
	margin-top: 20px;
}
.game p{
	margin: 20px 20px 0 25px;
	color: #696969;
   
}
.tamquoc{
    margin-left: 70px;
}

.left-bottom-right{
	margin-left: 15px;
	width: 70%;
}
.info{
	width: 95%;
}
.info-title{
	height: 30px;
	background-image: linear-gradient(to right, #ffd497 , #ffefbe, #fff8de );
	text-transform: uppercase;
	padding-top: 5px;
}
.info-title p{
	margin-left: 30px;
	margin-top: 5px;
}
.info-content p{
	margin-left: 40px;
	color: #696969;
}
.right{
	width: 33%;
	
}
.right-top{
	height: 320px;
	background-image: linear-gradient(to bottom, #f9e088 , #f7cd71, #f4b858 );
	border-radius: 5px;
	width: 90%;
	padding: 5%;
}

.logout h1{
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	color: #464544;
}
.logout label{
	font-size: 15px;
	margin: 20px;
}
.logout input{
	width: 92%;
	height: 37px;
	margin: 15px;
	border:#f6a96b solid  1px;
	outline:#f9e088 solid  6px; 
}
#namesignin{
	border-radius: 5px;
}
.singin-btn{
	display: flex;
	position: relative;
}
.singin-btn button{
	position: absolute;
	border:#f6a96b solid 2px;
	border-radius: 5px;
	width: 120px;
	height: 35px;
	background-image: linear-gradient(to bottom,#fac525 , #f07d13);
	color: white;
	right: 10px;
    top: 20px;
    cursor: pointer;
}
.singin-btn p{
	margin-left: 40px;
	font-size: 15px;
}
.right-bottom{
	margin-top: 15px;
	height: 110px;
	background-image: linear-gradient(to right,#f4b858 , #f7cd71, #f9e088 );
	border-radius: 5px;
	width: 95%;
	padding: 3% 0px 0px 5%;
	display: flex;
	position: relative;
}
.right-bottom-right img {
    position: absolute;
    height: 125px;
    right: 0;
    top: -17px;
}
b {
    color: white;
    font-size: 25px;
    font-family: monospace;
}
b img {
    height: 25px;
    width: 20px;
    background-size: cover;
}
small{
	color: white;
	font-size: 15px
}
.right-bottom-left p{
	margin-top: 5px;
    margin-bottom: 5px;
}
.footer{
	text-align: center;
	color: #696969;
	margin-top: 50px;
}
.hr{
	margin-left: 18%;
	width: 65%;
	height: 2px;
	background-image: linear-gradient(to right,#f7f7f7 , #e5e5e5, #f7f7f7 );
}
.login-title{
	position: relative;
	width: 100%;
	height: 60px;

}
.hello {
    position: absolute;
    right: -15px;
    height: 220%;
    top: -20px;
    width: 40%;
}
img.xinchao {
    height: 75%;
    margin-top: 10px;
}
.login span{
	color: red;
	font-weight: 600;
}
#signout-btn{
	text-decoration: none;
	color: #666666;
	cursor: pointer;
}
.login .strong{
	margin-left: 20px;
	color: #444443;
	margin-bottom: -10px;
}
.login p{
	margin-left: 20px;
	color: #666666;
	font-family: 'Volkhov', serif;
}
.status{
	display: flex;
    margin-bottom: -25px;
    margin-top: -20px;
}
.status strong{
	color: #444443;
}
p.changepass{
	text-align: center;
  	margin-top: 40px;
}
.in{
	display: none;
}
.out{
	display: block;
}
.dropdown{
	display: none;
}

@media only screen and (max-width: 1100px) {
	ul li {
		padding: 14px 15px 20px 20px;
	    font-size: 18px;
	}
	b {
    	font-size: 20px;
	}

}
@media only screen and (max-width:1024px){
	ul li {
	    padding: 15px 15px 18px 15px;
	    font-size: 15px;
	}
	.body-games {
	    height: 90%;
	    width: 100%;
	}
	b {
    	font-size: 20px;
	}
	.right-bottom-right img {
	    height: 95%;
	    right: 4%;
	    top: -17px;
	}
	b img {
	    height: 22px;
	    width: 18px;
	}
	img.xinchao {
	    height: 35px;
	}
	.hello {
	    height: 120px;
	}
	.singin-btn p {
	    margin-left: 30px;
	}

}
@media only screen and (max-width: 955px) {
	.singin-btn p {
	    margin-left: 20px;
	    font-size: 15px;
	}
	ul li {
	    padding: 15px 15px 10px 15px;
	}
	#header {
	    height: 42px;
	}
	b{
		font-size: 18px;
	}
	.right-bottom-right img {
    	height: 80%;
    }
    .logo img {
	    height: 103%;
	    width: 82%;
	}
	p.changepass {
	    margin-top: 25px;
	}
	.singin-btn p {
	    margin-left: 0px;
	}
	.singin-btn button {
		right: 0px;
	}
}
@media only screen and (max-width: 880px){
	
	ul li {
	    padding: 10px 7px 15px 7px;
	}
		img.xinchao {
	    height: 25px;
	}
	.hello {
	    height: 80px;
	}
	.login .strong {
	    margin-left: 10px;
	    margin-bottom: -18px;
	}
	.status {
	    margin-bottom: -30px;
	    margin-top: -25px;
	}
	p.changepass {
	    margin-top: -5px;
	}
	.login p {
	    margin-left: 10px;
	}

	.singin-btn p {
	    margin-left: 0px;
	}
	.singin-btn button {
		right: 0px;
	}
	.right-bottom {
		height: 140px;
	}
	.right-bottom-left {
	    margin-top: 30px;
	}
	.right-bottom-right img {
	    height: 60%;
	}
	.singin-btn button {
	    width: 100px;
	    height: 30px;
	    right: -10px;
	}
	.game {
	    display: block;
	}
	.body-games div:last-child {
	    margin-left: 0;
	}
	.body-games {
	    height: 95%;
	}
	.right-top {
    	width: 85%;
    }
    .right-bottom {
    	width: 90%;
    }



}
@media only screen and (max-width: 756px) {
	.title-games p {
	    margin-left: 45%;
	}
	.title-games img {
	    margin-left: 0;
	}
	.game {
    display: block;
	}
	.body-games div:last-child {
	    margin-left: 0;
	}
	.body-games {
	    height: 95%;
	}
	.logout h1 {
		font-size: 30px;
	}
	.logout input {
		margin: 10px;
	}
	.singin-btn {
	    margin-top: 10px;
	}
	.singin-btn p {
	    margin-left: 30px;
	}
	.singin-btn button {
		top: 65px;	
    	right: 30%;
	}
	b {
	    font-size: 15px;
	}
	b img {
	    height: 19px;
	    width: 18px;
	}
	.menu ul {
	    position: absolute;
	    display: block;
	    margin-top: -18px;
	    background-image: linear-gradient(to right, #fcdf97 , #fee199 );
	    width: 30%;
	    margin-left: 30px;
	   
	}
	.out{
		 display: none;
	}
	i.fa.fa-bars {
	    margin: 14px 20px 20px 10px;
	    margin-left: 30px;
	    font-size: 35px;
	    color: #f6a96b;
	    margin-top: 5px;
	}
	.dropdown{
		display: block;
	}
	img.xinchao {
	    height: 25px;
	}
	.hello {
	    height: 80px;
	}
	.login .strong {
	    margin-left: 10px;
	    margin-bottom: -18px;
	}
	.status {
	    margin-bottom: -30px;
	    margin-top: -25px;
	}
	p.changepass {
	    margin-top: -5px;
	}
	.login p {
	    margin-left: 10px;
	}
	.right-bottom {
		height: 160px;
	}
	.right-bottom-left {
	    margin-top: 50px;
	}
	.right-bottom-right img {
	    height: 60%;
	}
	.right-top {
	    height: 360px;
	}
}
@media only screen and (max-width: 640px) {
	.body {
	    display: block;
	}
	.left,.right,.left-bottom  {
	    width: 100%;
	    display: block;
	}
	.left-bottom-left {
	    width: 100%;
	    margin: 30px;
	}
	.body-games {
	    height: 95%;
	    display: flex;
	    width: 90%;
	}
	.title-games {
	    width: 90%;
	}
	.game p {
	    margin: 20px 20px 15px 25px;
	}
	.hello {
	    right: -15px;
	    height: 220%;
	    top: -20px;
	    width: 40%;
	}
	img.xinchao {
	    height: 75%;
	    margin-top: 10px;
	}
	.login .strong{
		margin-left: 20px;
		margin-bottom: -10px;
	}
	.login p{
		margin-left: 20px;
	}
	.status{
	    margin-bottom: -25px;
	    margin-top: -20px;
	}
	p.changepass {
	    margin-top: 20px;
	}
	.singin-btn button {
	    width: 120px;
	    height: 35px;
	    right: 10px;
	    top: 20px;
	}
	.right-top{
		height: 280px;
		width: 85%;

	}
	.right-bottom-right img {
	    height: 125px;
	    right: 0;
	    top: -17px;
	}
	b {
	    font-size: 25px;
	}
	b img {
	    height: 25px;
	    width: 20px;
	}
	.right-bottom-left{
		margin-top: 5px;
	}
	.right-bottom {
	    height: 120px;
	    width: 90%;
	}
	.left-bottom-left {
	    width: 90%;
	}
	.logo {
    	width: 45%;
    }
  

}



